{{>header}}

<link rel="stylesheet" href="leaderboard.css" media="screen">
      <table class="table table-striped">
         <thead>
           <tr>
             <th>Name</th>
             <th>Score</th>
           </tr>
         </thead>
         <tbody>
            {{#each username}}
           <tr>
             <td>{{this.username}}</td>
             <td>{{this.score}}</td>
           </tr>
            {{/each}}
         </tbody>
      </table>
