table {
  border-collapse: collapse;
  border-spacing: 0;
}

.square{
    width:100px;
    height:100px;
    font-size: 40pt
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}
table {

    text-align:center;
      font: 400 30px/1.5;

}
tr{
  border: 2px solid;
}
td{
  border: 2px solid;
}
