

<h1>Welcome</h1>
<div class="row">
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="Tic_Tac_Toe.png" alt="Tic_Tac_Toe" height="200" width="200">
      <div class="caption">
        <h3>Tic Tac Toe</h3>
          <p>Play Tic Tac Toe for $9.99</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
 </div>
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="Connect4.png" alt="Connect4" height="200" width="200">
      <div class="caption">
        <h3>Connect Four</h3>
          <p>Play Connect Four for $9.99</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
 </div>
</div>
