{{>header}}

<link rel="stylesheet" href="leaderboard.css" media="screen">
      <table class="table table-striped">
         <thead>
           <tr>
             <th>Name</th>
             <th>Score</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>Example Exampliny</td>
             <td>3000</td>
           </tr>
           <tr>
             <td>Bob Law</td>
             <td>2000</td>
           </tr>
           <tr>
             <td>Name Namado</td>
             <td>1000</td>
           </tr>
         </tbody>
      </table>
