{{>header}}

<link rel="stylesheet" href="profile.css" media="screen">
<!--<div class="col-sm-2 sidenav">
  <img src="download.png" alt="Smiley face" class="img-rounded" height="100" width="100">
  <form>
    <div class="form-group">
      <label for="text">Username</label>
      <br>
      <label for="socre">Score</label>
    </div>
  </form>
</div>-->
