{{!we need a dev that will contain the game that the user want !!}}
{{>header}}

   <div class="row-fluid text-center centering">
      {{#if gameName}}
         {{>ticTac}}
      {{else}}
         {{>connect4}}
      {{/if}}
   </div>
