{{#if showProfile}}
<div class="col-sm-2 sidenav">
  {{!we need an if statment that will show the profile info if the user
     is logged in other wise it will show the register/login button}}


  {{#if registered}}
  <img src="download.png" alt="Smiley face" class="img-rounded" height="100" width="100">
  <form>
    <button type="submit" value="logout" class="btn btn-default" id="logout-btn">Logout</button>
  </form>
  {{else}}
  <form>
    <div class="form-group">
      <label for="text">Username:</label>
      <input type="text" class="form-control" id="userName">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-default" id="login-btn">login</button>
    <button type="submit" class="btn btn-default" id="signup-btn">Signup</button>
  </form>
  {{/if}}
</div>
{{/if}}
