body{
	background: #EAEBEC;
}

.table {
  	background-color: #726BAF;
    height: 297px;
    width: 352px;
    padding-left: 4px;
    padding-top: 4px;
    border: solid;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
}

.left-corner{
  border-bottom-left-radius: 20px;
}

.right-corner{
  border-bottom-right-radius: 20px;
}


.square{
    width:40px;
    height:40px;
    font-size: 30pt;
    border: 1px solid black;
    border-radius: 60px;
    margin-top: 5px;
    background: #6180A5;
}

.col{

	height:96%;
	border: 2px solid;
	display: inline-block;
	margin: 0 auto;
	background: #143762;
}


.blue{
  background-color: #B8B82D;
}

.red{
  background-color: #E80000;
}

button{
  margin-top: 14px;
  border-radius: 10px;
  border: none;
  background-color: #37348C;
  color: white;
  padding: 15px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}